---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---

<ArticleLayout
  title="Datenschutzerklärung"
  description="Datenschutzerklärung der Augenoptik Pochert GmbH."
>
  <p>Diese Website sammelt keinerlei Daten.</p>
</ArticleLayout>
