---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---

<ArticleLayout title="Impressum" description="Impressum der Augenoptik Pochert GmbH in Freital.">
  <p>
    Augenoptik Pochert GmbH<br />
    Geschäftsführer: Uwe Polster, staatl. geprüfter Augenoptiker und Augenoptikmeister<br />
    Dresdner Straße 61<br />
    01705 Freital<br />
    Telefon &amp; Telefax: +49 351 641 30 17<br />
    E-mail: pochert.augenoptik (ät) euronet-server (Punkt) com<br />
    Für Spam: info@pochert-augenoptik.de
  </p>
  <p>Die Augenoptik Pochert GmbH ist</p>
  <ul>
    <li>beim Amtsgericht Dresden unter HRB 7647 eingetragen</li>
    <li>Mitglied der Handwerkskammer Dresden: 0211040</li>
    <li>USt-Ident-Nr: DE 1528820822</li>
  </ul>
</ArticleLayout>
