---
import { getCollection } from "astro:content";

const articles = await getCollection("ratgeber");
---

<footer class="footer">
  <div class="footer-inner text-container">
    <div class="footer-col">
      <h2 class="welcome-highlight-color">Mehr Informationen</h2>
      <a href="/#kontakt">Kontakt</a>
      <details>
        <summary>Datenschutzerklärung</summary>
        <p>Diese Website sammelt keinerlei Daten.</p>
      </details>
      <details>
        <summary>Impressum</summary>
        <!-- prettier-ignore -->
        <p style="white-space: pre-line;">Augenoptik Pochert GmbH
Geschäftsführer: Uwe Polster, staatl. geprüfter Augenoptiker und Augenoptikmeister
Dresdner Straße 61
01705 Freital
Telefon & Telefax: +49 351 641 30 17
E-mail: pochert.augenoptik (ät) euronet-server (Punkt) com
Für Spam: info@pochert-augenoptik.de

Die Augenoptik Pochert GmbH ist
- beim Amtsgericht Dresden unter HRB 7647 eingetragen
- Mitglied der Handwerkskammer Dresden: 0211040
- USt-Ident-Nr: DE 1528820822</p>
      </details>
      <p>
        Fotos &copy;
        <a href="https://www.gerdedler.de" target="_blank" rel="noopener noreferrer">
          Gerd Edler
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
            ></path>
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
            ></path>
          </svg>
        </a>
      </p>
    </div>
    {
      articles.length > 0 && (
        <div class="footer-col">
          <h2 class="welcome-highlight-color">Ratgeber</h2>
          <ul class="footer-article-list">
            {articles.map((article) => (
              <li>
                <a href={`/ratgeber/${article.id}/`}>{article.data.title}</a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
</footer>

<style>
  .footer {
    background-color: #f5f5f5;
  }

  .footer-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 56rem;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #666;
    font-weight: 400;

    :global(a) {
      color: rgb(var(--color-primary-dark-rgb));
      text-decoration: none;
      transition: color 0.3s;
      font-weight: 600;
    }

    :global(a:hover),
    :global(a:focus-visible) {
      text-decoration: underline;
      text-underline-offset: 0.28em;
    }

    details[open] {
      background-color: #f0f0f0;
      border-radius: 6px;

      &::details-content {
        margin-top: 6px;
        line-height: 1.6;
        padding: 0rem 1rem 0.5rem;
      }

      summary::before {
        transform: rotate(90deg);
      }
    }

    summary {
      width: 100%;
      cursor: pointer;
      user-select: none;
      outline: none;
      padding: 0.15rem 0;
      display: inline-block;
      color: rgb(var(--color-primary-dark-rgb));
      font-weight: 600;
      text-underline-offset: 0.18em;

      &::-webkit-details-marker {
        display: none;
      }

      &::before {
        content: "▸";
        display: inline-block;
        margin-right: 8px;
        transition: transform 0.14s ease;
        color: currentColor;
        vertical-align: auto;
      }

      &:hover, &:focus-visible {
        text-decoration: underline;
        text-underline-offset: 0.28em;
      }
    }
  }

  .footer-article-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }
</style>
