---
import { getCollection } from "astro:content";

const articles = await getCollection("ratgeber");
---

<footer class="footer">
  <div class="footer-inner text-container">
    <div class="footer-col">
      <h2 class="welcome-highlight-color">Mehr Informationen</h2>
      <a href="/#kontakt">Kontakt</a>
      <a href="/datenschutzerklaerung/">Datenschutzerklärung</a>
      <a href="/impressum/">Impressum</a>
      <p>
        Fotos &copy;
        <a href="https://www.gerdedler.de" target="_blank" rel="noopener noreferrer">
          Gerd Edler
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
            ></path>
            <path
              fill-rule="evenodd"
              d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
            ></path>
          </svg>
        </a>
      </p>
    </div>
    {
      articles.length > 0 && (
        <div class="footer-col">
          <h2 class="welcome-highlight-color">Ratgeber</h2>
          <ul class="footer-article-list">
            {articles.map((article) => (
              <li>
                <a href={`/ratgeber/${article.id}/`}>{article.data.title.split(" – ")[0].split(" - ")[0]}</a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
</footer>

<style>
  .footer {
    background-color: var(--color-background-subtle);
  }

  .footer-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-text-subtle);
    font-weight: 400;

    :global(a) {
      color: var(--color-link);
      text-decoration: none;
      transition: color 0.3s;
      font-weight: 600;
    }

    :global(a:hover),
    :global(a:focus-visible) {
      text-decoration: underline;
      text-underline-offset: 0.28em;
    }
  }

  .footer-article-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }
</style>
